/* ==UserStyle==
@name         Wikipedia Hide Site-Notice
@version      1.0.0
@namespace    https://github.com/rod24574575
@description  Hide the top site-notice in Wikipedia.
@author       rod24574575
@homepageURL  https://github.com/rod24574575/wikipedia-hide-site-notice
@supportURL   https://github.com/rod24574575/wikipedia-hide-site-notice/issues
@updateURL    https://github.com/rod24574575/wikipedia-hide-site-notice/raw/main/wikipedia-hide-site-notice.user.styl
@license      MIT
==/UserStyle== */

@-moz-document domain("wikipedia.org") {
  #siteNotice > * {
    display: none !important;
  }
}
